<html>
  <head></head>
  <body>
    <p>Hello {{ username }}<br><br>
        password recovery for the user {{ user_id }} has been requested.<br><br>

        You can reset your password with this
        <a href="{{ www_url }}{{ token }}">link</a>.<br><br>

        If you had not intended to reset your password, please ignore this email.<br><br>

        Best Regards<br>
    </p>
  </body>
</html>