Hello {{ username }},

password recovery for the user {{ user_id }} has been requested.

You can set a new password here:

{{ www_url }}{{ token }}

If you had not intended to reset your password, please ignore this email.

Best Regards

